<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.mapper.MemberMapper">


	<!-- 통합회원정보 -->
	<insert id="insertUserInfo"  useGeneratedKeys="true" keyProperty="user_no" keyColumn="user_no"> 
		INSERT INTO user_info(user_name, email, user_yn)
		VALUES(#{user_name},#{email}, #{user_yn})
	</insert>

	<!-- 일반회원 정보  -->
	<insert id="insertUser"> 
		INSERT INTO user(user_no, user_id, user_pass, user_phone)
		VALUES(#{user_no}, #{user_id}, #{user_pass}, #{user_phone})
	</insert>
	
	
	<!-- 회원여부확인 -->
	<select id="userCheck" resultType="com.teamproject.domain.MemberDTO">
		SELECT * 
		FROM user u JOIN user_info ui
		ON u.user_no = ui.user_no
		WHERE u.user_id = #{user_id} 
		AND u.user_pass = #{user_pass}
	</select>
	
	<!-- 회원 정보 가져오기 -->
	<select id="getMember" resultType="com.teamproject.domain.MemberDTO">
		SELECT *
		FROM user_info
		where user_no = #{user_no}
	</select>
	
	<!--아이디 찾기 -->
	<select id="idFind" resultType="com.teamproject.domain.MemberDTO">
		SELECT * 
		FROM user_info
		WHERE user_name = #{user_name}
		AND email = #{email}
	</select>
	
	<select id="idFindResult" resultType="com.teamproject.domain.MemberDTO">
		SELECT * 
		FROM user join user_info
		ON user.user_no = user_info.user_no
		WHERE user.user_no = #{user_no}
	
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="passFind" resultType="com.teamproject.domain.MemberDTO">
		SELECT *
		FROM user join user_info
		ON user.user_no = user_info.user_no
		WHERE user_id = #{user_id}
		AND email = #{email}
	</select>
	
	<select id="passFindResult" resultType="com.teamproject.domain.MemberDTO">
		SELECT *
		FROM user join user_info
		ON user.user_no = user_info.user_no
		WHERE user.user_no = #{user_no}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="userIdCheck" resultType="String">
		SELECT user_id
		FROM user
		WHERE user_id = #{id}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="userEmailCheck" resultType="String">
		SELECT email
		FROM user_info
		WHERE email = #{id}
	</select>
	
	<!-- 네이버 간편로그인 -->
	<!-- 통합회원정보 -->
	<insert id="setSimpleUserInfo"  useGeneratedKeys="true" keyProperty="user_no" keyColumn="user_no"> 
		INSERT INTO user_info(user_name, email, user_type)
		VALUES(#{user_name}, #{email}, #{user_type})
	</insert>
	
	
	<insert id="setSimpleUesr" >
		INSERT INTO simple_user(user_no, access_token)
		VALUES (#{user_no}, #{access_token})
	</insert>

	<!-- 간편로그인 중복가입 오류 방지 -->
	<select id="CheckToken" resultType="com.teamproject.domain.SimpleUserDTO">
		SELECT *
		FROM simple_user
		WHERE access_token = #{access_token}
	</select>

</mapper>