<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.teamproject.mapper.MyPageMapper">

	<select id="getMember" resultType="com.teamproject.domain.MemberDTO">
		select * from user_info join simple_user join user
		on user_info.user_no = simple_user.user_no = user.user_no
		where user_info.user_no = #{user_no}
	</select>
	
	<select id="userCheck" resultType="com.teamproject.domain.MemberDTO">
		select * from user_info join user
		on user_info.user_no = user.user_no
		where user_info.user_no = #{user_no} and user.user_pass = #{user_pass}
	</select>
	
	<update id="updateMember">
		update user_info
		set user_pass = #{user_pass}
		where user_no = #{user_no}
	</update>
	
  
</mapper>