<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.mapper.ProjectMapper">

    <!-- 전체 프로젝트 등록 개수 가져오기 ( 10개 단위로 )-->
    <!-- 동적 쿼리 이용 => 검색어 있으면 sql 구문 추가 -->
    <!-- 스킬필터 가 있으면 sql 구문 추가 -->
    <select id="selectProject_all" resultType="com.teamproject.domain.ProjectDTO">
        SELECT DISTINCT p.*
        FROM project_board p
        LEFT JOIN project_skill ps ON p.pboard_id = ps.pboard_id
        <where>
            <!-- 스킬 필터가 있을 경우 -->
            <if test="skill_id != null">
                ps.skill_id = #{skill_id}
            </if>
            <!-- 검색어가 있을 경우 -->
            <if test="search != null">
                p.pboard_title LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
        ORDER BY p.pboard_date
        <if test="createdDateFilter == 1">
            ASC
        </if>
        <if test="createdDateFilter != 1">
            DESC
        </if>
        LIMIT #{startRow}, #{endRow};
    </select>


    <!-- 전체 프로젝트 등록 개수 반환 -->
    <!-- 검색어 포함 -->
    <!-- 스킬필터 포함 -->
    <select id="getProjectCount" resultType="int">
        SELECT COUNT(DISTINCT p.pboard_id)
        FROM project_board p
        LEFT JOIN project_skill ps ON p.pboard_id = ps.pboard_id
        <where>
            <!-- 스킬 필터가 있을 경우 -->
            <if test="skill_id != null">
                ps.skill_id = #{skill_id}
            </if>
            <!-- 검색어가 있을 경우 -->
            <if test="search != null">
                p.pboard_title LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>;
    </select>

    <!-- 프로젝트 당 등록된 전체 스킬 반환 -->
    <select id="selectProjectSkill" resultType="com.teamproject.domain.ProjectSkillDTO">
        SELECT s.skill_id, s.skill_name
        FROM project_skill p JOIN skills s
        ON p.skill_id = s.skill_id
        WHERE p.pboard_id = #{pboard_id};
    </select>

    <!-- skills 에 있는 모든값 가져오기 -->
    <select id="getProjectSkillList" resultType="com.teamproject.domain.ProjectSkillDTO">
        SELECT *
        FROM skills;
    </select>



</mapper>
