/* 기본 스타일 */
:root {
    --bs-primary: #141826; /* 색상 변경(카드색상) */
    --bs-dark: #0e1117;
}
#search {
    width: 180px;
}
/* input date 아이콘 삭제 */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
/* 사용자 정의 버튼 스타일링 */
input[type="file"]::file-selector-button {
    display: none;
}
input[type="file"]::file-selector-button:hover {
    background-color: #5e36a8;
}

.bg-primary {
    background-color: var(--bs-primary) !important; /* 변수를 사용하여 색상 적용 */
}
.bg-dark {
    background-color: var(--bs-dark) !important;
}
.form-select,
.form-control,
.form-control:focus {
    border: none;
    color: #fff;
}
.form-control:active {
    background-color: #0e1117;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 (전체 화면일 때) */
    min-height: 100vh;
    background-color: #0e1117; /* 어두운 배경색 */
    color: #fff; /* 밝은 텍스트 색상 */
}
.form-control::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}
.navbar {
    background-color: #0e1117; /* 네비게이션 바 배경색 */
}
.navbar-nav .nav-link {
    color: #fff; /* 네비게이션 링크 색상 */
}
.navbar-nav .nav-link:hover {
    color: #bfbfbf; /* 네비게이션 링크 호버 색상 */
}

.btn-primary {
    /* 버튼 텍스트 색상 */
    --bs-btn-color: #fff;
    /* 버튼 배경 색상 */
    --bs-btn-bg: #6f40c8;
    /* 버튼 테두리 색상 */
    --bs-btn-border-color: #6f40c8;
    /* 버튼 mouse hover text 색상 */
    --bs-btn-hover-color: #fff;
    /* 버튼 mouse hover 배경 색상 */
    --bs-btn-hover-bg: #5e36a8;
    /* 버튼 mouse hover 테두리 색상 */
    --bs-btn-hover-border-color: #5e36a8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    /* 버튼 mouse click text 색상 */
    --bs-btn-active-color: #fff;
    /* 버튼 mouse click 배경 색상 */
    --bs-btn-active-bg: #5e36a8;
    /* 버튼 mouse click 테두리 색상 */
    --bs-btn-active-border-color: #5e36a8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dropdown-menu {
    /* 드롭다운시 배경 색상 */
    --bs-dropdown-bg: #141826;
    /* 드롭다운 link 폰트 색상 */
    --bs-dropdown-link-color: #fff;
    /* 드롭다운 link hover 폰트 색상 */
    --bs-dropdown-link-hover-color: #fff;
    /* 드롭다운 link hover 배경 색상 */
    --bs-dropdown-link-hover-bg: #1e243a;
    /* 드롭다운 link click 폰트 색상 */
    --bs-dropdown-link-active-color: #fff;
    /* 드롭다운 link click 배경 색상 */
    --bs-dropdown-link-active-bg: #1e243a;
}

.card {
    background-color: #141826; /* 카드 배경색 */
    color: #e0e0e0; /* 카드 텍스트 색상 */
}
.card .card-title {
    color: #ffffff; /* 카드 제목 색상 */
}
.badge {
    background-color: #6f40c8;
    font-weight: normal;
}

.footer {
    background-color: #333; /* 푸터 배경색 */
}
.footer a {
    color: #f8f9fa; /* 푸터 링크 색상 */
}
.footer a:hover {
    color: #e0e0e0; /* 푸터 링크 호버 색상 */
}
.pagination .page-link {
    color: #007bff; /* 페이지네이션 링크 색상 */
}
.pagination .page-link:hover {
    color: #0056b3; /* 페이지네이션 링크 호버 색상 */
}
.custom-hr {
    border: none;
    /* 색상, 두께 설정 */
    border-top: 3px solid #445283;
}


.headtext {
    font-size: 34px; /* 폰트 크기 설정 */
    padding-top: 8%;
    color: #f1f1f1; /* 폰트 색상 설정 */
    line-height: 1.5; /* 줄 간격 설정 */
    text-align: center; /* 중앙 정렬 */
    letter-spacing: -0.1rem;
} 

/* 좌측 메뉴 */
.menutext-left {
    font-size: 14px; /* 폰트 크기 설정 */
    margin-top: 1rem;
    color: #f1f1f1; /* 폰트 색상 설정 */
    line-height: 1.5; /* 줄 간격 설정 */
    text-align: end; /* 중앙 정렬 */
    letter-spacing: 0.03rem;
}

.comnotice {
	display: inline-block;
	margin-right: 1.3rem;
}

.qna {
    display: inline-block;
    margin-top: 5rem;
   	margin-right: 2rem;
}

.write {
    display: inline-block;
    margin-top: 5rem;
    margin-right: 0.8rem;
}

.myQna {
    display: inline-block;
    margin-top: 5rem;
    margin-right: 0.6rem;
}

/* 우측 메뉴 */
.menutext-right {
    font-size: 14px; /* 폰트 크기 설정 */
    margin-top: 1rem;
    color: #f1f1f1; /* 폰트 색상 설정 */
    line-height: 1.5; /* 줄 간격 설정 */
    text-align: start; /* 중앙 정렬 */
    letter-spacing: 0.03rem;
}

.user-number {
    display: inline-block;
    margin-top: 6rem;
}

/* 메뉴 호버 */
.menu-up {
    width: 30%;
    height: 50px;
    background-color: rgba(255, 13, 13, 0);
    transition: transform 0.3s ease;
    display: inline-block; /* a 태그에서 애니메이션 쓸 때는 inline 블록 */
    transform-origin: center; /* 확장 기준 중앙(다른 요소 방해 안 받음) */
  }

  .menu-up:hover {
    transform: scale(1.2); /* 1.2배로 확대 */
  }

  /* 글 제목 호버 시 색상 변경 */
  .text-change-box {
    color: rgb(255, 255, 255); /* 기본 텍스트 색상 */
    transition: color 0.3s ease; /* 색상 변화 애니메이션 */
  }
  
  .text-change-box:hover {
    color: #797979; /* 호버 시 텍스트 색상 변화 */
  }
  

.first-section {
    position: relative;
    display: flex;
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../community/images/back.png');
    background-size: cover;  /* 자동으로 중앙에 배치됨 */
    z-index: -1;
}

.first-section-1 {
    padding-top: 10px;
    justify-content: end;
}

.first-section-2 {
    padding-top: 10px;
    justify-content: center;
}

.first-section-3 {
    padding-top: 10px;
    justify-content: start;
}


/* 섹션 2 */
.second-section {
    display: flex; /* 자식 요소들을 수평으로 배치 */
}

.second-section-1 {
    justify-content: end;
}

.second-section-3 {
    justify-content: start;
}

/* 섹션 2 - 공지 목록 구성 */
.custom-title {
    font-size: 25px; /* 폰트 크기 설정 */
    color: #ffffff; /* 폰트 색상 설정 */
    text-align: start;
    padding-left: 10%;
}

.custom-content {
    font-size: 13px; /* 폰트 크기 설정 */
    color: #797979; /* 폰트 색상 설정 */
    text-align: start;
    padding-left: 10%;
    padding-top: 3px;
}

.custom-date {
    font-size: 13px; /* 폰트 크기 설정 */
    color: #ffffff; /* 폰트 색상 설정 */
    text-align: end;
    padding-right: 10%;
    padding-top: 15px;
}

.custom-writer {
    font-size: 13px; /* 폰트 크기 설정 */
    color: #797979; /* 폰트 색상 설정 */
    text-align: end;
    padding-right: 10%;
    padding-top: 3px;
}

.row-line {
    height: 0.1px; /* 선의 두께 */
    background-color: #828282; /* 선의 색상 */
    width: 90%; /* 선의 너비를 섹션의 전체로 설정 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem; /* 선과 구역 간의 간격 설정 */
    margin-bottom: 1.5rem;
}

.last-line {
    height: 0.6px; /* 선의 두께 */
    background-color: #f0f0f0; /* 선의 색상 */
    width: 100%; /* 선의 너비를 섹션의 전체로 설정 */
}

/* 답변 완료 버튼 */
.answer-btn {
	padding: 5px 10px; /* 위 아래 5px, 좌 우 10px */
	margin-left: 0.3rem;
    font-size: 12px; /* 글자 크기 조정 */
}
