:root {
    --bs-primary: #141826; /* 색상 변경(카드색상) */
    --bs-dark: #0e1117;
    --bs-purple: #6f40c8;
}
body {
    background-image: url('http://http://c1d2405t3.itwillbs.com/WishD/resources/images/background_star.png');
    background-size: contain;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 배경 고정 */
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 (전체 화면일 때) */
    min-height: 100vh;
    background-color: #0e1117; /* 어두운 배경색 */
    color: #fff; /* 밝은 텍스트 색상 */
}

#search {
    width: 180px;
}

/*카드 마우스 호버시*/
.board_card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.board_card:hover{
    transform: translate(-4px, -4px); /* X와 Y 방향으로 -10px 이동 */
}
/*end*/

.modal {
    --bs-modal-header-border-color: none;
    --bs-modal-header-border-width: none;
    --bs-modal-footer-border-color: none;
}


.title:hover h2, .sort:hover{
    color: rgba(255, 255, 255, 0.75);
}
/* input date 아이콘 삭제 */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
/* 사용자 정의 버튼 스타일링 */
input[type="file"]::file-selector-button {
    display: none;
}
input[type="file"]::file-selector-button:hover {
    background-color: #5e36a8;
}

.bg-primary {
    background-color: var(--bs-primary) !important; /* 변수를 사용하여 색상 적용 */
}
.bg-dark {
    background-color: var(--bs-dark) !important;
}
.bg-purple{
    background-color: var(--bs-purple) !important;
}
.form-select,
.form-control,
.form-control:focus {
    border: none;
    color: #fff;
}
.form-check-input:checked {
    background-color: #6f40c8;
    border-color: #6f40c8;
}
.form-control:active {
    background-color: #0e1117;
}

.form-control::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}


.btn-primary {
    /* 버튼 텍스트 색상 */
    --bs-btn-color: #fff;
    /* 버튼 배경 색상 */
    --bs-btn-bg: #6f40c8;
    /* 버튼 테두리 색상 */
    --bs-btn-border-color: #6f40c8;
    /* 버튼 mouse hover text 색상 */
    --bs-btn-hover-color: #fff;
    /* 버튼 mouse hover 배경 색상 */
    --bs-btn-hover-bg: #5e36a8;
    /* 버튼 mouse hover 테두리 색상 */
    --bs-btn-hover-border-color: #5e36a8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    /* 버튼 mouse click text 색상 */
    --bs-btn-active-color: #fff;
    /* 버튼 mouse click 배경 색상 */
    --bs-btn-active-bg: #5e36a8;
    /* 버튼 mouse click 테두리 색상 */
    --bs-btn-active-border-color: #5e36a8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: #5e36a8;
    --bs-btn-disabled-border-color: #5e36a8;
}

.dropdown-menu {
    /* 드롭다운시 배경 색상 */
    --bs-dropdown-bg: #141826;
    /* 드롭다운 link 폰트 색상 */
    --bs-dropdown-link-color: #fff;
    /* 드롭다운 link hover 폰트 색상 */
    --bs-dropdown-link-hover-color: #fff;
    /* 드롭다운 link hover 배경 색상 */
    --bs-dropdown-link-hover-bg: #1e243a;
    /* 드롭다운 link click 폰트 색상 */
    --bs-dropdown-link-active-color: #fff;
    /* 드롭다운 link click 배경 색상 */
    --bs-dropdown-link-active-bg: #1e243a;
}

.card {
    background-color: #141826; /* 카드 배경색 */
    color: #e0e0e0; /* 카드 텍스트 색상 */
}
.card .card-title {
    color: #ffffff; /* 카드 제목 색상 */
}
.badge {
    background-color: #6f40c8;
    font-weight: normal;
}
#skillSelectBadge:hover{
    background-color: #5e36a8;
}

.footer {
    background-color: #333; /* 푸터 배경색 */
}
.footer a {
    color: #f8f9fa; /* 푸터 링크 색상 */
}
.footer a:hover {
    color: #e0e0e0; /* 푸터 링크 호버 색상 */
}
.pagination .page-link {
    color: #007bff; /* 페이지네이션 링크 색상 */
}
.pagination .page-link:hover {
    color: #0056b3; /* 페이지네이션 링크 호버 색상 */
}
.custom-hr {
    border: none;
    /* 색상, 두께 설정 */
    border-top: 3px solid #445283;
}


/* 별 배경 */

.noite {
    z-index: -1;
    background: #0e1117;
    width: 100vw; /* 뷰포트 너비 */
    height: 100vh; /* 뷰포트 높이 */
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    overflow: hidden;
}

.constelacao {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    animation: rotate 600s infinite linear;
}

.estrela {
    position: fixed;
    z-index: -1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation-name: estrela;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* 스타일 및 애니메이션에 대한 클래스는 그대로 유지 */
.estrela.style1 {
    animation-duration: 0.5s;
}

.estrela.style2 {
    animation-duration: 1s;
}

.estrela.style3 {
    animation-duration: 1.5s;
}

.estrela.style4 {
    animation-duration: 2s;
    animation-name: estrelaDestacada;
}

.estrela.tam1 {
    width: 1px;
    height: 1px;
}

.estrela.tam2 {
    width: 2px;
    height: 2px;
}

.estrela.tam3 {
    width: 3px;
    height: 3px;
}

.estrela.opacity1 {
    opacity: 1;
}

.estrela.opacity2 {
    opacity: 0.5;
}

.estrela.opacity3 {
    opacity: 0.1;
}

.meteoro {
    position: fixed;
    background-color: #fff;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    transform: rotate(-35deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.meteoro:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 85px solid white;
    position: absolute;
    left: 2px;
    top: 0;
}

.meteoro.style1 {
    animation-name: meteoroStyle1;
}

.meteoro.style2 {
    animation-name: meteoroStyle2;
}

.meteoro.style3 {
    animation-name: meteoroStyle3;
}

.meteoro.style4 {
    animation-name: meteoroStyle4;
}

@keyframes escurecer {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

@keyframes estrela {
    0% {
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
    }
    50% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
    }
}

@keyframes estrelaDestacada {
    0% {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
    }
    20% {
        background-color: #ffc4c4;
        box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
    }
    80% {
        background-color: #c4cfff;
        box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
    }
    100% {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
    }
}

@keyframes meteoroStyle1 {
    0% {
        opacity: 0;
        right: 300px;
        top: 100px;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        right: 1000px;
        top: 600px;
    }
}

@keyframes meteoroStyle2 {
    0% {
        opacity: 0;
        right: 700px;
        top: 100px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1400px;
        top: 600px;
    }
}

@keyframes meteoroStyle3 {
    0% {
        opacity: 0;
        right: 300px;
        top: 300px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1000px;
        top: 800px;
    }
}

@keyframes meteoroStyle4 {
    0% {
        opacity: 0;
        right: 700px;
        top: 300px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1400px;
        top: 800px;
    }
}


/* 채팅 설정 */
/* 사이드 카드 높이 설정 */
#side-from-card {
    height: 1033px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
/* 채팅 내용 스타일 */
#chat {
    height: 1000px;  /* 원하는 높이 */
    /*justify-content: flex-end; !* 아래쪽부터 쌓이도록 설정 *!*/
    /*flex-grow: 1; !* 채팅창 컨테이너가 공간을 채우도록 설정 *!*/

}

 /*메시지 컨테이너 스타일 */
.message-container {
    max-width: 100%; /* 전체 너비를 사용 */
    width: 100%; /* 전체 너비를 사용 */
    margin-bottom: 0.5rem; /* 아래쪽 여백 */
}

/* 메시지 내용 스타일 */
.message-content {
    max-width: 300px; /* 원하는 최대 너비 설정 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    border-radius: 0.25rem; /* 둥근 모서리 */
    color: #fff; /* 텍스트 색상 */
    padding: 0.5rem 1rem;
}

/* 스크롤바 */
#chat::-webkit-scrollbar {
    width: 0px; /* 스크롤바 너비를 0으로 설정 */
}

/* 스크롤바 트랙 */
#chat::-webkit-scrollbar-track {
    background: transparent; /* 배경을 투명하게 설정 */
}

/* 스크롤바 핸들 */
#chat::-webkit-scrollbar-thumb {
    background-color: var(--bs-purple) !important;
}
/*채팅 end*/


/* 읽기 페이지 진입시 로그인 비로그인 overlay */
.overlay-container {
    position: relative;
    padding: 20px;
}

.overlay-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04); /* 반투명 흰색 배경 */
    backdrop-filter: blur(8px); /* 블러 효과 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    z-index: 1; /* 내용 위에 오도록 설정 */
    opacity: 1; /* 항상 보이도록 설정 */
    transition: opacity 0.3s ease;
}
/* overlay end */

/* chatting time */
.message-time{
    font-size: 10px;
    color: #b5b5b5;
}