body{
    background-image: url('http://c1d2405t3.itwillbs.com/WishD/resources/images/background_star.png');
    background-size: contain;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 배경 고정 */
}

.signup-container {
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
	margin-top : 100px;
	margin-bottom : 40px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    position: relative; /* 상대 위치 설정 */
	
}

.input-container input {
    flex: 1; /* 입력란을 최대한으로 확장 */
    min-width: 0; /* 부모 요소의 너비를 초과하지 않도록 설정 */
    padding: 12px;
    border-radius: 8px;
    border: none;
	background-color: #0e1117!important;
    font-size: 14px;
    transition: border-color 0.3s ease;
	color : #fff !important;
}
/* 에러메세지 */
.invalid-feedback {
    display: none; /* 기본적으로 숨김 */
    color: red; /* 에러 메시지 색상 */
    margin-top: 0.5rem; /* 입력란과의 간격 */
}

#user_id, #email, #code {
    flex: 1; /* 입력 필드의 너비를 최대로 */
    margin-right: 10px; /* 버튼과 간격 조정 */
    align-items: center;
}

.btn-custom {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #6F40C8;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #563399;
}

.signup-box {
    background-color: #1E2229;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin : 100px;
    z-index: 2; /* 별보다 앞으로 나와 있는지 확인 */
}

.signup-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding : 20px;
}

.agree {
	display: flex;
    align-items: center;
    margin-bottom: 30px; /* 위아래 간격 */
    font-size: 11px;
}

.agree-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
    margin-left: 50px;
    margin-top : 15px;
    
}

.agree-item input[type="checkbox"] {
    margin-right: 12px;
    width: 16px;
    height: 16px;
}



.signup-btn {
    padding: 12px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #6F40C8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup-btn:hover {
    background-color: #5a34a1;
}

.estrela.opacity1 {
    opacity: 1;
}

.estrela.opacity2 {
    opacity: 0.5;
}
