/* 버튼가져오기 */
@import
	url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700)
	;

a, a:visited {
	text-decoration: none;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 120px;
	padding: 0;
	margin: 30px 20px 10px 0;
	/*   font-weight: 600; */
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}

.btnPurple {
	background: #6F40C8;
}

.btnPurple:hover {
	background: #5e36a8;
}

.btnFade {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	/*             font-weight: 600; */
	color: #fff;
	text-decoration: none;
	transition: background-color 0.2s;
}
/* 버튼가져오기 끝*/

/* 상단탭, 탭내용 묶음 */
.tab-container {
	width: 100%;
	max-width: 750px;
	margin: 40px auto;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #141826;
	overflow: hidden;
}

/* 상단탭 묶음 */
.tabs {
	display: flex;
	border-bottom: 1px solid #dee2e6;
	background-color: #141826;
}

/* 버튼 묶음 */
.tab-button {
	flex: 1;
	padding: 15px;
	border: none;
	background-color: #10131a;
	color: #ffff;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s,
		border-bottom 0.3s;
	border-bottom: 3px solid transparent;
	position: relative;
	border-radius: 8px 8px 0 0;
}

/* 탭선택시 */
.tab-button.active {
	background-color: #6F40C8;
	color: #ffff;
	border-bottom: 3px solid #ffff;
	font-weight: bold;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 탭 오버시 */
.tab-button:hover {
	background-color: #5e36a8;
}

/* 탭내용 묶음 */
.tab-content {
	padding: 20px;
	background-color: #0e1117;
}

/* 각탭 */
.tab-pane {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.tab-pane.active {
	display: block;
	opacity: 1;
}

/* 폼에 사용 */
.my-label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}

/* 폼 */
.my-form {
	max-width: 650px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center; /* 가로 방향 정렬 */
	align-items: center; /* 세로 방향 정렬 */
}

.form-row {
	display: flex; /* 부모 요소에 Flexbox 레이아웃을 적용 */
	flex-wrap: wrap; /*컨테이너의 너비를 초과할 때 자동으로 다음 줄로 넘어감*/
	gap: 70px;
	width: 650px;
}

.form-group {
	flex: 1;
}

/* 폼 조절 */
input[type="text"], input[type="email"], input[type="password"], input[type="number"]
	{
	/*             width: 100%; */
	/*             padding: 8px; */
	border: 1px solid #ced4da;
	border-radius: 8px;
	/*             box-sizing: border-box; */
	width: 260px;
}

.button-container {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding-bottom: 20px;
}


.necessary {
	color: red;
	font-size: 10px;
	width: 600px;
	justify-content: center; /* 가로 방향 정렬 */
	align-items: center; /* 세로 방향 정렬 */
	padding-top: 20px;
	margin: 0;
}

.necessary2 {
	color: red;
	font-size: 16px;
}

#user_id, #phone {
	margin-bottom: 20px; /* 필드 하단 여백 */
}

#my-title {
	padding-top: 100px;
	display: flex;
	justify-content: flex-start; /* 가로 방향 정렬 */
	align-items: center;
}

.card-container {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.card {
	padding: 20px;
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.card:hover {
	/*             background-color: #2980b9; */
	
}

.content-container .content {
	display: none; /* Initially hide all content */
}

.content-container .content.active {
	display: block; /* Show the active content */
}

.back-button {
	margin-top: 20px;
	background-color: #ff6347;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.back-button:hover {
	background-color: #e55347;
}

.card-body {
	padding: 0;
}

.column-left {
	background-color: #141826;
	padding: 30px;
	border-radius: 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.post-list {
	list-style: none;
	padding: 0;
}

.post-item {
	background-color: #141826; /* 배경색 */
	border-radius: 10px; /* 모서리 둥글게 */
	padding: 15px;
	margin-bottom: 15px; /* 리스트 항목 간격 */
	color: #ffffff; /* 글씨색을 흰색으로 설정 */
}

.post-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.tech-stack {
	font-size: 14px;
	color: #aaaaaa; /* 기술 스택 글씨색 회색으로 설정 */
	margin-bottom: 10px;
}

.tech-stack span {
	background-color: #333;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
	display: inline-block;
}

.post-summary {
	font-size: 16px;
	color: #dddddd; /* 요약 글씨색 연회색으로 설정 */
	margin-bottom: 10px;
}

.button-group {
	display: flex;
	gap: 10px; /* 버튼 간의 간격 */
}

/* 자세히 보기 버튼, 글 수정 버튼 */
.btn-read-more, .btn-extra {
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-decoration: none;
	color: white;
}

/* 자세히 보기 버튼 */
.btn-read-more {
	background-color: #6F40C8;
}

.btn-read-more:hover {
	background-color: #5e36a8;
}

/* 글수정버튼 */
.btn-extra {
	background-color: #28a745;
}

.btn-extra:hover {
	background-color: #218838;
}

/* 내정보 상단 */
#profile-top {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	background-color: #141826;
}

/* 리스트 점없애기 */
li.post-item {
	list-style-type: none;
}