@font-face {
    font-family: "jua";
    src: url("http://c1d2405t3.itwillbs.com/WishD/resources/fonts/Jua-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "jua", sans-serif;
    background-color: #0e1117; /* 어두운 배경색 */
    color: #fff; /* 밝은 텍스트 색상 */
}
.btn-primary {
    background-color: #6f40c8;
    border: #6f40c8;
}
.btn-primary:hover {
    background-color: #5e36a8;
}

.navbar {
    background-color: #141826; /* 네비게이션 바 배경색 */
}
.navbar-nav .nav-link {
    color: #fff; /* 네비게이션 링크 색상 */
}
.navbar-nav .nav-link:hover {
    color: #bfbfbf; /* 네비게이션 링크 호버 색상 */
}
.card .card-title {
    color: #ffffff; /* 카드 제목 색상 */
}
.footer a {
    color: #f8f9fa; /* 푸터 링크 색상 */
}
.footer a:hover {
    color: #e0e0e0; /* 푸터 링크 호버 색상 */
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.205rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: none;
    --bs-pagination-bg: none;
    --bs-pagination-border-radius: 50%;
    --bs-pagination-hover-color: #6F40C8;
    --bs-pagination-focus-color: #ffffff;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #ffffff;
    --bs-pagination-active-border-color: #ffffff;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.pagination .page-link {
    color: #ffffff !important;
}
.pagination {
    --bs-pagination-hover-bg: #6F40C8;
    --bs-pagination-hover-color: #6F40C8;
    --bs-pagination-hover-border-color: #6F40C8;
    --bs-pagination-focus-bg: #6F40C8;
}