.navbar {
    background-color: #0e1117; /* 네비게이션 바 배경색 */
}

/* 전체 컨테이너 스타일 */
.mycontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

/* 폼 컨테이너의 래퍼 스타일 */
.form-container-wrapper {
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

/* 폼 제목 스타일 */
.form-title {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ffffff;
}

/* 텍스트 폼 컨테이너 스타일 */
.text-form-container {
	background-color: #141826;
	padding: 20px;
	padding-top: 40px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	box-sizing: border-box;
}

/* 텍스트 폼 입력 스타일 */
.text-form-container input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 10px !important; /* 모든 input에 border-radius 적용 */
	background-color: #0e1117;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	transition: border-color 0.3s;
}

/* 입력 필드 호버 스타일 */
.text-form-container input:hover {
	transform: scale(1.05);
}

/* 입력 필드 포커스 및 비어있지 않은 상태 스타일 */
.text-form-container input:focus, 
.text-form-container input:not(:placeholder-shown) {
	border-color: #ffff; /* 입력 필드 테두리 색상 */
}

/* 입력 그룹 스타일 */
.input-group {
	position: relative;
	margin-bottom: 20px;
}

/* 입력 그룹의 입력 필드 스타일 */
.input-group input {
	width: 100%;
	padding: 12px;
	border: solid 1px #ccc;
	border-radius: 10px !important; /* 모든 input에 border-radius 적용 */
	background-color: #0e1117;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
}

/* 입력 그룹의 레이블 스타일 */
.input-group label {
	position: absolute;
	top: 16px;
	left: 12px;
	color: #ccc;
	font-size: 16px;
	transition: 0.2s ease;
	pointer-events: none;
	background: none; /* 레이블 배경색 */
	padding: 0 4px;
	z-index: 1;
	line-height: 1.2;
}

/* 입력 필드 포커스 및 비어있지 않은 상태에서 레이블 스타일 */
.input-group input:focus + label, 
.input-group input:not(:placeholder-shown) + label {
	top: -17px; 
	left: 2px;
	font-size: 12px;
	color: #ffff; /* 레이블 글자 색상 */
}

/* 폼 버튼 스타일 */
.form-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* 버튼 스타일 */
.form-buttons button {
	width: 48%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

/* 기본 버튼 색상 스타일 */
.form-buttons .btn-primary {
	background-color: #6F40C8;
}

/* 기본 버튼 호버 스타일 */
.form-buttons .btn-primary:hover {
	background-color: #5e36a8; /* 호버 시 변경될 색상 */
	transform: scale(1.05); /* 버튼 크기 확대 (선택 사항) */
}

/* 보조 버튼 색상 스타일 */
.form-buttons .btn-secondary {
	background-color: #666;
}

/* 보조 버튼 호버 스타일 */
.form-buttons .btn-secondary:hover {
	background-color: #800600;
	transform: scale(1.05);
}

/* 탭 전체 스타일 */
.tabs {
	width: 100%;
	max-width: 1000px;
	height: 250px;
/* 	background: #141826; */
	padding: 20px 30px;
	overflow: hidden;
	border-radius: 50px;
	box-sizing: border-box;
	position: relative; /* 탭 인디케이터를 위한 위치 컨텍스트 */
}

/* 탭 헤더 스타일 */
.tabs .tab-header {
	height: 60px;
	display: flex;
	align-items: center;
	position: relative; /* 탭 인디케이터를 위한 위치 설정 */
	z-index: 1; /* 탭 헤더가 인디케이터 위에 오도록 설정 */
}

/* 탭 헤더의 각 탭 스타일 */
.tabs .tab-header > div {
	width: calc(100% / 3);
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	font-size: 14px;
	padding: 20px 0;
	box-sizing: border-box;
	position: relative; /* 탭 인디케이터의 올바른 정렬을 위해 */
}

/* 탭 헤더의 각 탭 아이콘 스타일 */
.tabs .tab-header > div > i {
	display: block;
	margin-bottom: 5px;
}

/* 활성화된 탭 스타일 */
.tabs .tab-header > div.active {
	color: #00acee;
	transform: scale(1.05);
 	background-color: #0e1117;
 	border-radius: 50px;
}

/* 활성화된 탭의 인디케이터 스타일 */
.tabs .tab-header > div.active::after {
    content: '';
    display: block;
    width: calc(100% - 50px); /* 양쪽 여백을 고려한 길이 조정 */
    height: 3px;
    background-color: #00acee;
    position: absolute;
    bottom: 0;
    left: 25px; /* 왼쪽 여백 */
    right: 25px; /* 오른쪽 여백 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 탭 헤더의 탭 호버 스타일 */
.tabs .tab-header > div:hover {
	transform: scale(1.05);
}

/* 탭 바디 스타일 */
.tabs .tab-body {
	position: relative;
	height: calc(100% - 60px);
	padding: 10px 5px;
}

/* 탭 바디의 각 콘텐츠 스타일 */
.tabs .tab-body > div {
	position: absolute;
	top: -200%;
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

/* 활성화된 탭 콘텐츠 스타일 */
.tabs .tab-body > div.active {
	top: 0;
	opacity: 1;
	transform: scale(1);
}
